HELP.md
.gradle
/build/
!repository-service/gradle/wrapper/gradle-wrapper.jar
/service-configuration
/classes
*.hprof

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/github.env
